################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/BaekJoon/v16/ipch/AutoPCH/7f0d1a6016827b80/10989.ipch
/.vs/BaekJoon/v16/ipch/AutoPCH/7f0d1a6016827b80
/.vs/BaekJoon/v16/ipch/AutoPCH/3e32d8a2c4ed8d22/13458.ipch
/.vs/BaekJoon/v16/ipch/AutoPCH/3e32d8a2c4ed8d22
/.vs/BaekJoon/v16/ipch/AutoPCH
/.vs/BaekJoon/v16/Browse.VC.opendb
/.vs/BaekJoon/v16/Browse.VC.db
